.ng-cloak {
    display: none !important;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}