<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Chimeverse</title>
    <link rel="stylesheet" type="text/css" media="screen" href="node_modules/converse.js/css/converse.css">
    <link rel="stylesheet" type="text/css" href="node_modules/uikit/dist/css/uikit.min.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
  </head>
  <body ng-app="app">
    <div class="main-window" ng-controller="AppController">
      <!-- Account form -->
      <div ng-show="showLoginForm" class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade ng-cloak" uk-height-viewport>
        <div class="uk-width-1-1">
          <div class="uk-container">
            <h3 class="uk-card-title uk-text-center">Welcome to Chimeverse</h3>
            <div class="uk-text-center">Jabber/XMPP client based on Converse.js and Electron</div>
            <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
              <div class="uk-width-1-1@m">
                <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
                  <form name="accountForm">
                    <div class="uk-margin">
                        <div class="uk-inline uk-width-1-1">
                          <span class="uk-form-icon" uk-icon="icon: link"></span>
                          <input ng-model="bosh" class="uk-input uk-form-large" type="text" placeholder="Bosh service url" required>
                        </div>
                      </div>
                    <div class="uk-margin">
                      <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: user"></span>
                        <input ng-model="login" class="uk-input uk-form-large" type="text" placeholder="jid@jabber.org" required>
                      </div>
                    </div>
                    <div class="uk-margin">
                      <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: lock"></span>
                        <input ng-model="password" class="uk-input uk-form-large" type="password" placeholder="Password" required>
                      </div>
                    </div>
                    <div class="uk-margin">
                      <button class="uk-button uk-button-primary uk-button-large uk-width-1-1" ng-click="addAccountAction()" ng-disabled="accountForm.$invalid" disabled>Add account</button>
                    </div>
                    <div class="uk-text-small uk-text-center">
                      Credentials stored via Keychain
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Account form -->
      <!-- Background and settings -->
      <div ng-show="!showLoginForm" class="uk-position-center ng-cloak noselect">
          <div class="uk-text-center">
              <img src="images/logo.png" srcset="images/logo@2x.png 2x" alt="" />
              <h3 class="uk-heading-small uk-text-muted uk-margin-remove">Chimeverse</h3>
              <!--
                TODO: Add next
                <span ng-hide="showSpinner" class="uk-margin-small-right" uk-spinner="ratio: 2"></span>
              -->
          </div>
        </div>
    </div>

    <script src="node_modules/uikit/dist/js/uikit.min.js"></script>
    <script src="node_modules/uikit/dist/js/uikit-icons.min.js"></script>
    <!--
      @see comment https://github.com/signalapp/libsignal-protocol-javascript/issues/6#issuecomment-247208665
    -->
    <script>
        window.nodeRequire = require
        delete window.require
    </script>
    <script src="node_modules/converse.js/3rdparty/libsignal-protocol.js"></script>
    <script>
        window.require = window.nodeRequire
        delete window.nodeRequire
    </script>
    <script>
      // You can also require other files to run in this process
      require('converse.js')
      require('./renderer.js')
    </script>
  </body>
</html>
