.chimeverse-branding {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.chimeverse-branding__img {
    margin-left: 20px;
}

.chimeverse-branding__header {
    font-size: 34px;
    font-weight: normal;
    color: #999;
    margin: 0px;
}

.chimeverse-branding__version {
    font-size: 12px;
    color: #999;
    margin-top: 10px;
}