.page-about {
    color: #777;
    left: 50%;
    position: absolute;
    top: 47%;
    transform: translate(-50%, -50%);
}

.about-card {
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    min-width: 400px;
    padding: 30px;
}

.about-card__content {
    display: flex;
}

.about__action {
    text-align: center;
}

.about__close-button {
    border: 0px solid #ddd;
    background: rgb(5,93,228);
    background: linear-gradient(0deg, rgba(5,93,228,1) 0%, rgba(76,145,255,1) 100%);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    outline: none;
    padding: 10px 30px;
 }

 .about__copyright {
    text-align: center;
 }